* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'icomoon';
  src: url("../font/icomoon.eot?ctq0qh");
  src: url("../font/icomoon.eot?#iefixctq0qh") format("embedded-opentype"), url("../font/icomoon.woff?ctq0qh") format("woff"), url("../font/icomoon.ttf?ctq0qh") format("truetype"), url("../font/icomoon.svg?ctq0qh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'envy_code_rbold';
  src: url("../font/envy_code_r_bold-webfont.eot");
  src: url("../font/envy_code_r_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/envy_code_r_bold-webfont.woff") format("woff"), url("../font/envy_code_r_bold-webfont.ttf") format("truetype"), url("../font/envy_code_r_bold-webfont.svg#envy_code_rbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'envy_code_ritalic';
  src: url("../font/envy_code_r_italic-webfont.eot");
  src: url("../font/envy_code_r_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/envy_code_r_italic-webfont.woff") format("woff"), url("../font/envy_code_r_italic-webfont.ttf") format("truetype"), url("../font/envy_code_r_italic-webfont.svg#envy_code_ritalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'envy_code_rregular';
  src: url("../font/envy_code_r-webfont.eot");
  src: url("../font/envy_code_r-webfont.eot?#iefix") format("embedded-opentype"), url("../font/envy_code_r-webfont.woff") format("woff"), url("../font/envy_code_r-webfont.ttf") format("truetype"), url("../font/envy_code_r-webfont.svg#envy_code_rregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@media only screen and (max-device-width: 480px) {
  .calendarWrapper {
    overflow-y: scroll;
    /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch; } }
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 255, 255, 0.2); }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.2); }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.2); }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(255, 255, 255, 0.2); }

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  /*width: 872px;*/
  background-color: #000002;
  color: #fbf2e3;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
  font-weight: normal; }

input[type="text"] {
  -webkit-appearance: none;
  border-radius: 0; }

.unstyled::-webkit-inner-spin-button {
  /*display: none;
  -webkit-appearance: none;*/ }

.unstyled::-webkit-calendar-picker-indicator {
  /*display: none;*/
  /*-webkit-appearance: none;*/ }

a {
  color: #fbf2e3; }

#wrapper {
  width: 320px;
  height: 548px;
  overflow: hidden; }

.mainPanel {
  width: 320px;
  height: 548px;
  background: url(../i/background.png) no-repeat center center;
  background-size: 960px 548px;
  z-index: 1;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.95);
  position: relative;
  left: 276px;
  top: -548px; }

.leftPanel {
  width: 276px;
  height: 548px;
  background: url(../i/background.png) no-repeat left top;
  background-size: 872px 548px;
  position: relative;
  text-align: center; }

.rightPanel {
  width: 276px;
  height: 548px;
  background: url(../i/background.png) no-repeat right top;
  background-size: 872px 548px;
  float: left;
  position: relative;
  left: 596px;
  top: -1096px;
  text-align: center; }

/************ main panel ************/
div.ul {
  -webkit-transform: translate3d(-276px, 0px, 0px) scale3d(1, 1, 1); }

.myProfile {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px #fbf2e3;
  position: absolute;
  top: 2px;
  left: 2px;
  cursor: pointer; }

.myProfile img {
  width: 34px;
  height: 34px;
  border-radius: 17px;
  display: block;
  margin: 2px;
  padding: 0; }

.myProfile i {
  width: 22px;
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: -3px;
  border-bottom: dotted 1px #fbf2e3; }

.myProfile p {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #fbf2e3;
  border-radius: 2px;
  position: absolute;
  left: 18px;
  bottom: -6px;
  padding: 0;
  margin: 0; }

.friendProfile {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px #fbf2e3;
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer; }

.friendProfile img {
  width: 34px;
  height: 34px;
  border-radius: 17px;
  display: block;
  margin: 2px;
  padding: 0; }

.friendProfile i {
  width: 22px;
  height: 2px;
  position: absolute;
  bottom: -4px;
  right: -3px;
  border-bottom: dotted 1px #fbf2e3; }

.friendProfile p {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #fbf2e3;
  border-radius: 2px;
  position: absolute;
  right: 18px;
  bottom: -6px;
  padding: 0;
  margin: 0; }

.addButton {
  width: 120px;
  height: 60px;
  position: absolute;
  left: 100px;
  top: 0;
  cursor: pointer; }

.calendarWrapper {
  position: absolute;
  width: 320px;
  height: 408px;
  top: 140px;
           /* 
overflow-y: hidden; */
  overflow-x: hidden;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch; }

.calendar {
  background: url(../i/calendar-bg.png) repeat 0 0;
  background-size: 5px 50px;
  float: left;
  width: 320px; }

#now {
  position: absolute;
  left: 0;
  background: url(../i/now.png) no-repeat bottom left;
  background-size: 320px 9px;
  width: 320px;
  height: 30px;
  font-size: 12px;
  text-indent: 163px;
  color: #dbdb41;
  line-height: 26px;
  font-weight: 900; }

#now i {
  font-style: normal;
  font-weight: 300;
  color: #fbf2e3;
  font-size: 24px; }

.timeLeft {
  position: relative;
  float: left;
  width: 31px;
  left: 5px;
  top: -40px;
  /* color: rgba(255,255,255,0.6); */
  opacity: 0.6;
  line-height: 100px;
  font-size: 15px;
  font-weight: 300; }

.timeRight {
  position: relative;
  float: right;
  width: 31px;
  right: 5px;
  top: -40px;
  /* color: rgba(255,255,255,0.6); */
  opacity: 0.6;
  line-height: 100px;
  font-size: 15px;
  font-weight: 300; }

.event {
  position: absolute;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  border: solid 1px #fbf2e3;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.event.left {
  left: 5px; }

.event.right {
  right: 5px; }

.event h1 {
  /*height: 42px;*/
  min-height: 42px;
  /* border-bottom: solid 1px $milk; */
  line-height: 24px;
  font-size: 20px;
  margin: 0;
  padding: 3px 8px;
  text-transform: capitalize;
  font-weight: 600; }

.event.side {
  width: 34px; }

.event.side * {
  display: none; }

.mark {
  width: 10px;
  height: 10px;
  position: absolute; }

.mark.start {
  top: -5px;
  background: url(../i/mark.png) no-repeat left top;
  background-size: 10px 10px; }

.mark.check {
  bottom: -6px;
  background: url(../i/mark-check.png) no-repeat left top;
  background-size: 10px 10px; }

.mark.fail {
  bottom: -6px;
  background: url(../i/mark-fail.png) no-repeat left top;
  background-size: 10px 10px; }

.mark.ongoing {
  bottom: -6px;
  background: url(../i/mark-ongoing.png) no-repeat left top;
  background-size: 10px 10px; }

.mark.future {
  bottom: -6px;
  background: url(../i/mark-future.png) no-repeat left top;
  background-size: 10px 10px; }

.event.left .mark {
  right: -11px; }

.event.right .mark {
  left: -11px; }

.event .startEnd {
  height: 50px;
  background: url(../i/start-end-line.png) no-repeat center center;
  background-size: 123px 26px;
  position: relative;
  font-size: 18px;
  font-weight: 300; }

.event .startEnd .start {
  position: absolute;
  left: 8px;
  top: 0; }

.event .startEnd .end {
  position: absolute;
  right: 8px;
  bottom: 0; }

.event .detailWrapper {
  position: relative;
  width: 148px;
  height: auto; }

.event .detail {
  height: 112px;
  border-bottom: solid 1px #fbf2e3;
  position: relative;
  padding: 0 3px; }

.event .detail .detailTitle {
  position: absolute;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 27px;
  top: -3px; }

.event .detail .detailContent {
  position: absolute;
  top: 8px;
  font-size: 12px;
  line-height: 27px;
  width: 142px;
  text-align: right; }

.event .detail .detailContent > div {
  height: 27px;
  overflow: hidden; }

.event .detail .detailContent > div.success {
  color: #dbdb41; }

/************ left panel / right panel *************/
.leftPanel h1 {
  font-size: 24px;
  width: 100%;
  height: 45px;
  line-height: 50px;
  border-bottom: dotted 1px #fbf2e3;
  font-weight: normal;
  text-align: right;
  padding: 0 5px; }

.rightPanel h1 {
  font-size: 24px;
  width: 100%;
  height: 45px;
  line-height: 50px;
  border-bottom: dotted 1px #fbf2e3;
  font-weight: normal;
  text-align: left;
  padding: 0 5px; }

.tabs {
  height: 22px;
  border: solid 1px #fbf2e3;
  border-radius: 5px;
  font-size: 15px;
  line-height: 20px;
  margin: 10px 0;
  text-align: center;
  display: inline-block; }

.tabs .tab {
  display: inline-block;
  text-align: center;
  padding: 0 10px;
  cursor: pointer;
  text-decoration: none; }

.tab.tabLeft, .tab.tabMiddle {
  border-right: solid 1px #fbf2e3; }

.tabs .tab.active {
  background-color: #fbf2e3;
  color: #000000; }

.taskList {
  text-align: left;
  border-top: solid 2px #fbf2e3;
  font-size: 15px;
  text-indent: 3px;
  line-height: 29px; }

.taskList li {
  font-size: 12px;
  line-height: 29px;
  border-top: dotted 1px #fbf2e3;
  list-style: decimal;
  list-style-position: inside;
  text-align: left;
  cursor: pointer; }

.taskList li.first {
  border-top: solid 1px #fbf2e3; }

.taskList span {
  display: block;
  text-align: right; }

.taskList span strong {
  float: left;
  font-weight: 400; }

.taskList i {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../i/icon.png) no-repeat left top;
  background-size: 15px 15px;
  text-align: right;
  margin-right: 5px;
  vertical-align: -2px; }

.taskList i.checkIcon {
  background: url(../i/icon-check.png) no-repeat left top;
  background-size: 15px 15px; }

.taskList i.ongoingIcon {
  background: url(../i/icon-ongoing.png) no-repeat left top;
  background-size: 15px 15px; }

.taskList i.failIcon {
  background: url(../i/icon-fail.png) no-repeat left top;
  background-size: 15px 15px; }

.taskList li i {
  float: right;
  margin-top: 6px; }

#taskTab {
  border-bottom: solid 1px #fbf2e3;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: lowercase; }

.tabWrapper {
  display: none; }

.tabWrapper.active {
  display: block; }

.overlay {
  background: url(../i/overlay-bg.png) left top no-repeat fixed;
  background-size: cover;
  width: 232px;
  border: 1px solid #fbf2e3;
  position: absolute;
  top: 125px;
  left: 44px;
  z-index: 9999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: none; }

.overlay h1 {
  border-bottom: 1px solid #fbf2e3;
  line-height: 29px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center; }

.overlay .overlay-taskName {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-indent: 3px;
  display: block;
  width: 100%;
  height: 39px;
  color: #fbf2e3;
  border: 0px solid #fbf2e3;
  border-bottom: 1px solid #fbf2e3;
  background: transparent; }

.overlay .overlay-taskDate {
  height: 30px;
  border-bottom: 1px solid #fbf2e3;
  font-size: 18px;
  line-height: 29px;
  position: relative;
  text-indent: 3px; }

.addBtn {
  display: block;
  width: 29px;
  height: 29px;
  background: url(../i/plus.png) center center no-repeat;
  background-size: 20px 20px;
  cursor: pointer; }

.calHead {
  position: absolute;
  top: 70px;
  height: 70px;
  width: 100%; }
  .calHead .calHeadItem {
    position: relative; }
    .calHead .calHeadItem .date {
      font-weight: 300;
      font-size: 36px;
      text-align: center;
      line-height: 30px;
      width: 50px;
      height: 70px;
      padding-top: 10px;
      position: absolute;
      left: 44px; }
      .calHead .calHeadItem .date span {
        display: block;
        font-size: 12px;
        font-weight: 900;
        opacity: 0.6;
        line-height: 15px; }
    .calHead .calHeadItem .weekday {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      line-height: 70px;
      position: absolute;
      left: 100px;
      width: 132px; }
    .calHead .calHeadItem .todayButton {
      width: 38px;
      font-weight: 700;
      font-size: 9px;
      line-height: 70px;
      text-align: center;
      position: absolute;
      right: 44px;
      background: url(../i/today-bg.png) no-repeat center center;
      background-size: contain; }
  .calHead .calHeadItem::before {
    content: '\e617';
    position: absolute;
    font-family: 'icomoon';
    left: 0;
    top: 0;
    height: 70px;
    line-height: 70px;
    width: 44px;
    text-align: center;
    font-size: 30px; }
  .calHead .calHeadItem::after {
    content: '\e616';
    position: absolute;
    font-family: 'icomoon';
    right: 0;
    top: 0;
    height: 70px;
    line-height: 70px;
    width: 44px;
    text-align: center;
    font-size: 30px; }

.module.on {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  background: url(../i/add-bg.png) no-repeat left 0;
  background-size: cover;
  display: block; }

.module {
  position: absolute;
  z-index: 9999;
  top: 140px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  background: url(../i/add-bg.png) no-repeat left -408px;
  background-size: cover;
  text-align: center;
  -webkit-transform: translate3d(0, 408px, 0);
  -moz-transform: translate3d(0, 408px, 0);
  -ms-transform: translate3d(0, 408px, 0);
  -o-transform: translate3d(0, 408px, 0);
  transform: translate3d(0, 408px, 0);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .module .cancel {
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: block;
    width: 40px;
    height: 40px;
    background: url(../i/cancel.png) no-repeat center center;
    background-size: contain; }
  .module .ok {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: block;
    width: 40px;
    height: 40px;
    background: url(../i/ok.png) no-repeat center center;
    background-size: contain; }
  .module input.taskName {
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    border: none;
    background: transparent;
    color: #fbf2e3;
    margin-top: 10px; }
  .module .taskTime {
    line-height: 55px;
    font-size: 30px;
    font-weight: 300; }
  .module .taskLength {
    line-height: 55px;
    font-size: 15px;
    font-weight: 400; }
    .module .taskLength span {
      font-weight: 300;
      font-size: 30px; }
  .module .taskProject {
    line-height: 45px;
    font-weight: 300;
    font-size: 18px; }
    .module .taskProject span {
      display: block;
      float: left;
      width: 50%; }
    .module .taskProject .taskProjectName {
      text-align: right; }
    .module .taskProject .percentage {
      font-size: 15px;
      font-weight: 400;
      text-align: left;
      text-indent: 30px; }
      .module .taskProject .percentage i {
        font-size: 30px;
        font-weight: 300;
        font-style: normal; }
  .module .taskInvitation {
    line-height: 50px;
    font-weight: 300;
    font-size: 18px; }
    .module .taskInvitation span {
      display: block;
      float: left;
      width: 50%; }
    .module .taskInvitation .inivitation {
      text-align: right; }
    .module .taskInvitation .inviteWrapper {
      text-align: left;
      text-indent: 30px; }
    .module .taskInvitation .inviteButton {
      height: 30px;
      width: 50px;
      position: relative;
      display: inline-block;
      border-radius: 16px;
      margin-bottom: -10px;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
      .module .taskInvitation .inviteButton i {
        display: block;
        position: absolute;
        width: 26px;
        height: 26px;
        top: 1px;
        left: 1px;
        border-radius: 15px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease; }
    .module .taskInvitation .inviteButton.off {
      border: solid 1px #fbf2e3; }
      .module .taskInvitation .inviteButton.off i {
        background-color: #fbf2e3; }
    .module .taskInvitation .inviteButton.on {
      border: solid 1px #dbdb41; }
      .module .taskInvitation .inviteButton.on i {
        background-color: #dbdb41;
        left: auto;
        right: 1px; }

.module.editAfter .projectProgress {
  margin: 0 auto;
  width: 195px;
  height: 14px;
  border: solid 1px #fbf2e3;
  border-radius: 8px;
  overflow: hidden;
  position: relative; }
  .module.editAfter .projectProgress .projectBefore {
    width: 25%;
    height: 100%;
    float: left;
    background-color: #fbf2e3; }
  .module.editAfter .projectProgress .projectAfter {
    width: 15%;
    height: 100%;
    float: left;
    background-color: #fbf2e3;
    opacity: 0.5; }
.module.editAfter .taskProject span {
  float: none;
  display: inline-block;
  width: 45%; }
.module.editAfter .taskProject .percentage {
  text-indent: 20px; }
.module.editAfter .statusSlider {
  margin: 35px auto 0 auto;
  width: 195px;
  height: 23px;
  border-radius: 12px;
  border: solid 1px #fbf2e3;
  position: relative; }
  .module.editAfter .statusSlider .slider {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: solid 5px #fbf2e3;
    position: absolute;
    left: 80px;
    top: -4px; }
  .module.editAfter .statusSlider .failIcon {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 23px;
    height: 23px;
    background: url(../i/icon-fail.png) no-repeat center center;
    background-size: cover; }
  .module.editAfter .statusSlider .successIcon {
    position: absolute;
    right: -1px;
    top: -1px;
    width: 23px;
    height: 23px;
    background: url(../i/icon-check.png) no-repeat center center;
    background-size: cover; }

.module.full.on {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  background: url(../i/module-full.png) no-repeat left 0;
  background-size: cover;
  display: block; }

.module.full {
  background: url(../i/module-full.png) no-repeat left -548px;
  background-size: cover;
  top: 0;
  -webkit-transform: translate3d(0, 548px, 0);
  -moz-transform: translate3d(0, 548px, 0);
  -ms-transform: translate3d(0, 548px, 0);
  -o-transform: translate3d(0, 548px, 0);
  transform: translate3d(0, 548px, 0); }
  .module.full .timeLegend {
    color: #fbf2e3;
    opacity: 0.6;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
    margin-top: 10px;
    letter-spacing: 7px; }
  .module.full .hourWrapper {
    float: left;
    width: 50%;
    font-size: 18px;
    font-weight: 300; }
    .module.full .hourWrapper div {
      text-align: right;
      line-height: 36px;
      padding: 9px 20px 9px 0;
      margin: -18px 0 -9px 0; }
    .module.full .hourWrapper div:hover,
    .module.full .hourWrapper div.select {
      font-weight: 700;
      color: #293162;
      background-color: #fbf2e3; }
  .module.full .minWrapper {
    float: left;
    width: 50%;
    font-size: 18px;
    font-weight: 300; }
    .module.full .minWrapper div {
      text-align: left;
      line-height: 36px;
      padding: 9px 0 9px 20px;
      margin: -18px 0 -9px 0; }
    .module.full .minWrapper div:hover,
    .module.full .minWrapper div.select {
      font-weight: 700;
      color: #293162;
      background-color: #fbf2e3; }
  .module.full .ampmswitch {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 16px;
    border: solid 1px #fbf2e3;
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    bottom: 35px;
    left: 145px; }
  .module.full .ampmswitch:hover {
    background-color: #fbf2e3;
    color: #293162; }

.module.editLength .lengthBar {
  width: 25%;
  height: 50%;
  position: relative;
  top: 0;
  margin: 0 auto;
  background-color: #fbf2e3; }
  .module.editLength .lengthBar .length {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #293162;
    font-weight: 400;
    font-size: 15px; }
    .module.editLength .lengthBar .length span {
      font-weight: 300;
      font-size: 26px; }
.module.editLength .clock {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #fbf2e3;
  bottom: -40px;
  border: solid 1px #293162; }
  .module.editLength .clock .minHand {
    width: 80%;
    position: absolute;
    border-radius: 2px;
    top: 50%;
    left: 10%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .module.editLength .clock .minHand::before {
    content: '';
    height: 4px;
    top: -2px;
    width: 53%;
    border-radius: 3px;
    position: absolute;
    right: 0;
    background-color: #293162; }
  .module.editLength .clock .hourHand {
    width: 60%;
    position: absolute;
    border-radius: 2px;
    top: 50%;
    left: 20%; }
  .module.editLength .clock .hourHand::before {
    content: '';
    height: 4px;
    top: -2px;
    width: 50%;
    border-radius: 3px;
    position: absolute;
    right: 0;
    background-color: #293162; }
.module.editLength .endTime {
  border-bottom: solid 1px #fbf2e3;
  width: 150%;
  left: 100%;
  bottom: 0;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  position: absolute;
  color: #fbf2e3;
  padding-bottom: 3px; }
