<div id="wrapper">
<div class="ul">
	<div class="leftPanel panel">
		<h1>{{userProfile.displayName}}</h1>
		<div class="tabs">
			<a class="tab tabLeft" href="#profileTab"></a>
			<a class="tab tabMiddle active" href="#taskTab"></a>
			<a class="tab tabRight" href="#dataTab"></a>
		</div>
		<div class="tabWrapper" id="profileTab">
			<img src="i/awards-challenges-placeholder.png" width="100%" alt="">
		</div>
		<div class="tabWrapper active" id="taskTab">
			<ul class="taskList">
				<span><strong>Thesis</strong> <i class="checkIcon"></i><i class="ongoingIcon"></i><i></i><i></i></span>
				<li class="first">
					Thesis Prototype<i class="checkIcon"></i>
				</li>			
				<li>
					Thesis Presentation<i class="ongoingIcon"></i>
				</li>
				<li>
					UI Design<i></i>
				</li>
				<li>
					App Development<i></i>
				</li>
			</ul>
			<ul class="taskList">
				<span><strong>Portfolio 2.0</strong> <i class="checkIcon"></i><i class="checkIcon"></i><i></i></span>
				<li class="first">
					Wireframe<i class="checkIcon"></i>
				</li>			
				<li>
					UI Design<i class="checkIcon"></i>
				</li>
				<li>
					Web Development<i></i>
				</li>
			</ul>
			<ul class="taskList">
				<span><strong>Freelance</strong> <i class="checkIcon"></i><i class="checkIcon"></i><i></i></span>
				<li class="first">
					Meeting with client<i class="checkIcon"></i>
				</li>			
				<li>
					Proposal<i class="checkIcon"></i>
				</li>
				<li>
					Design draft<i></i>
				</li>
			</ul>
		</div>		
		<div class="tabWrapper" id="dataTab">
			<img src="i/data-viz.png" width="100%" alt="">
		</div>
	</div>
	<div class="mainPanel panel">
		<div class="module add">
			<div class="cancel"></div>
			<div class="ok"></div>
			<input type="text" class="taskName" placeholder="add task name">
			<div class="taskTime"><span>16</span>:<span>45</span></div>
			<div class="taskLength"><span class="hour">02</span> h <span class="mins">00</span> m</div>
			<div class="taskProject">
				<span class="taskProjectName">Set Parent Project</span>
				<span class="percentage"><i>10</i>%</span>
			</div>
			<div class="taskInvitation">
				<span class="inivitation">Invitation</span>
				<span class="inviteWrapper">
					<div class="inviteButton off"><i></i></div>
				</span>
			</div>
		</div>
		<div class="module editAfter">
			<div class="cancel"></div>
			<div class="ok"></div>
			<input type="text" class="taskName" placeholder="add task name" value="Thesis presentation">
			<div class="taskTime"><span>16</span>:<span>45</span></div>
			<div class="taskLength"><span class="hour">02</span> h <span class="mins">00</span> m</div>
			<div class="taskProject">
				<span class="taskProjectName">Thesis</span>
				<span class="percentage"><i>15</i>%</span>
			</div>
			<div class="projectProgress">
				<div class="projectBefore"></div>
				<div class="projectAfter"></div>
			</div>
			<div class="statusSliderWrapper">
				<div class="statusSlider">
					<div class="failIcon"></div>
					<div class="successIcon"></div>
					<div class="slider"></div>
				</div>
			</div>
			<a class="checkpoint" href="#"></a>
		</div>
		<div class="module full editLength">
			<div class="cancel"></div>
			<div class="ok"></div>
			<div class="lengthBar">
				<div class="length"><span>02</span> h <span>00</span> m</div>
				<div class="clock">
					<div class="hourHand"></div>
					<div class="minHand"></div>
				</div>
				<span class="endTime"><span>06</span>:<span>30</span></span>
			</div>
		</div>
		<div class="module full setProject">
			<div class="cancel"></div>
			<div class="ok"></div>
			<div class="setParentProject">
				<h1>1. Set Parent Project</h1>
				<div class="li"><input type="text" placeholder="New Project"></div>
				<ul class="projectSelector">
					<li class="selected">Thesis</li>
					<li>Portfolio 2.0</li>
					<li>Freelance</li>
				</ul>
			</div>
			<div class="setPercentage">
				<h1>2. Set Percentage</h1>
				<div class="percentageBar">
					<div class="percentageSlider">
						<div class="numbers">
							<i>10</i><span>%</span>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="module full setCheckpoint">
			<div class="cancel"></div>
			<div class="ok"></div>
			<h1>Set Checkpoint</h1>
			<ul class="checkpointSelector">
				<li class="icon-link"><input type="text" placeholder="New Project"></li>
				<li class="icon-chat selected">Custom Checkpoint</li>
			</ul>
		</div>
		<div class="module full editTime">
			<div class="cancel"></div>
			<div class="ok"></div>
			<div class="timeLegend">H : M</div>
			<div class="hourWrapper am active">
				<div>00</div>
				<div>01</div>
				<div>02</div>
				<div>03</div>
				<div>04</div>
				<div>05</div>
				<div>06</div>
				<div>07</div>
				<div>08</div>
				<div>09</div>
				<div>10</div>
				<div>11</div>
			</div>
			<div class="hourWrapper pm">
				<div>12</div>
				<div>13</div>
				<div>14</div>
				<div>15</div>
				<div>16</div>
				<div>17</div>
				<div>18</div>
				<div>19</div>
				<div>20</div>
				<div>21</div>
				<div>22</div>
				<div>23</div>
			</div>
			<div class="minWrapper">
				<div>00</div>
				<div>05</div>
				<div>10</div>
				<div>15</div>
				<div>20</div>
				<div>25</div>
				<div>30</div>
				<div>35</div>
				<div>40</div>
				<div>45</div>
				<div>50</div>
				<div>55</div>
			</div>
			<div class="ampmswitch">am</div>
		</div>
		<div class="myProfile">
			<img ng-src="{{userProfile._json['picture']}}" />
			<i></i>
			<p></p>
		</div>
		<div class="friendProfile">
			<img src="i/profile02.png" />	
			<i></i>		
			<p></p>	
		</div>
		<div class="addButton"></div>
		<div class="calHead">
			<div class="calHeadItem">
				<div class="prevDate"></div>
				<div class="nextDate"></div>
				<div class="date">
					<span>WED</span>
					<i>22</i>
				</div>
				<div class="weekday">TOMORROW</div>
				<div class="todayButton">TODAY</div>
				<input type="date" name="date" class="hidden" ng-value="today()">
			</div>
		</div>
		<div class="calendarWrapper">
			<div class="calendar">
				<!-- <div class="day" >
					<div class="event left entry" 
					ng-repeat="event in eventList.items" ng-style="getTopHeight(event)">
						<div class="mark start"></div>
						<div class="mark check"></div>
						<h1>{{event.summary}}</h1>
						<div class="startEnd">
							<span class="start" ng-bind="getHourMinute(event.start.dateTime)"></span>
							<span class="end" ng-bind="getHourMinute(event.end.dateTime)"></span>
						</div>
						<div class="detailWrapper">
						</div>
					</div>

					<div class="event right" style="top: 1700px; height: 150px;">
						<div class="mark start"></div>
						<div class="mark future"></div>
						<h1>Resume submit</h1>
						<div class="startEnd">
							<span class="start">17:00</span>
							<span class="end">18:30</span>
						</div>
						<div class="detailWrapper">
						</div>
					</div>
				</div> -->

				<div id="now" style="top: 1660px">NOW <i>16:36</i></div>
				<div class="event left entry" 
				ng-repeat="event in eventList.items" ng-style="getTopHeight(event)">
					<div class="mark start"></div>
					<div class="mark check"></div>
					<h1>{{event.summary}}</h1>
					<div class="startEnd">
						<span class="start" ng-bind="getHourMinute(event.start.dateTime)"></span>
						<span class="end" ng-bind="getHourMinute(event.end.dateTime)"></span>
					</div>
					<div class="detailWrapper">
						<!-- <div class="detail">
							<div class="detailTitle">
								Task status <br/>
								Check point <br/>
								Project <br/>
								Project Status <br/>
							</div>
							<div class="detailContent">
								<div class="taskStatus success">SUCCESS</div>
								<div class="checkPoint"><a href="#">URL</a></div>
								<div class="project">Thesis</div>
								<div class="projectStatus">40%</div>
							</div>
						</div> -->
					</div>
				</div>

				<div class="event right" style="top: 1700px; height: 150px;">
					<div class="mark start"></div>
					<div class="mark future"></div>
					<h1>Resume submit</h1>
					<div class="startEnd">
						<span class="start">17:00</span>
						<span class="end">18:30</span>
					</div>
					<div class="detailWrapper">
						<!-- <div class="detail">
							<div class="detailTitle">
								Task status <br/>
								Check point <br/>
								Project <br/>
								Project Status <br/>
							</div>
							<div class="detailContent">
								<div class="taskStatus">to-do</div>
								<div class="checkPoint"><a href="#">URL</a></div>
								<div class="project">Job Hunting</div>
								<div class="projectStatus">40%</div>
							</div>
						</div> -->
					</div>
				</div>
				<div class="timeLeft">
					00:00<br/>
					01:00<br/>
					02:00<br/>
					03:00<br/>
					04:00<br/>
					05:00<br/>
					06:00<br/>
					07:00<br/>
					08:00<br/>
					09:00<br/>
					10:00<br/>
					11:00<br/>
					12:00<br/>
					13:00<br/>
					14:00<br/>
					15:00<br/>
					16:00<br/>
					17:00<br/>
					18:00<br/>
					19:00<br/>
					20:00<br/>
					21:00<br/>
					22:00<br/>
					23:00<br/>
					
					00:00<br/>
					01:00<br/>
					02:00<br/>
					03:00<br/>
					04:00<br/>
					05:00<br/>
					06:00<br/>
					07:00<br/>
					08:00<br/>
					09:00<br/>
					10:00<br/>
					11:00<br/>
					12:00<br/>
					13:00<br/>
					14:00<br/>
					15:00<br/>
					16:00<br/>
					17:00<br/>
					18:00<br/>
					19:00<br/>
					20:00<br/>
					21:00<br/>
					22:00<br/>
					23:00<br/>
					
					00:00<br/>
					01:00<br/>
					02:00<br/>
					03:00<br/>
					04:00<br/>
					05:00<br/>
					06:00<br/>
					07:00<br/>
					08:00<br/>
					09:00<br/>
					10:00<br/>
					11:00<br/>
					12:00<br/>
					13:00<br/>
					14:00<br/>
					15:00<br/>
					16:00<br/>
					17:00<br/>
					18:00<br/>
					19:00<br/>
					20:00<br/>
					21:00<br/>
					22:00<br/>
					23:00<br/>
				</div>
				<div class="timeRight">
					00:00<br/>
					01:00<br/>
					02:00<br/>
					03:00<br/>
					04:00<br/>
					05:00<br/>
					06:00<br/>
					07:00<br/>
					08:00<br/>
					09:00<br/>
					10:00<br/>
					11:00<br/>
					12:00<br/>
					13:00<br/>
					14:00<br/>
					15:00<br/>
					16:00<br/>
					17:00<br/>
					18:00<br/>
					19:00<br/>
					20:00<br/>
					21:00<br/>
					22:00<br/>
					23:00<br/>
					
					00:00<br/>
					01:00<br/>
					02:00<br/>
					03:00<br/>
					04:00<br/>
					05:00<br/>
					06:00<br/>
					07:00<br/>
					08:00<br/>
					09:00<br/>
					10:00<br/>
					11:00<br/>
					12:00<br/>
					13:00<br/>
					14:00<br/>
					15:00<br/>
					16:00<br/>
					17:00<br/>
					18:00<br/>
					19:00<br/>
					20:00<br/>
					21:00<br/>
					22:00<br/>
					23:00<br/>
					
					00:00<br/>
					01:00<br/>
					02:00<br/>
					03:00<br/>
					04:00<br/>
					05:00<br/>
					06:00<br/>
					07:00<br/>
					08:00<br/>
					09:00<br/>
					10:00<br/>
					11:00<br/>
					12:00<br/>
					13:00<br/>
					14:00<br/>
					15:00<br/>
					16:00<br/>
					17:00<br/>
					18:00<br/>
					19:00<br/>
					20:00<br/>
					21:00<br/>
					22:00<br/>
					23:00<br/>
				</div>
			</div>
		</div>
	</div>
	<div class="rightPanel panel">
		<h1>Thomas White</h1>
		
		<div class="tabs">
			<a class="tab tabLeft" href="#profileTab"></a>
			<a class="tab tabMiddle active" href="#taskTab"></a>
			<a class="tab tabRight" href="#dataTab"></a>
		</div>
		<div class="tabWrapper" id="profileTab">
			<img src="i/awards-challenges-placeholder.png" width="100%" alt="">
		</div>
		<div class="tabWrapper active" id="taskTab">
			<ul class="taskList">
				<span><strong>Thesis</strong> <i class="checkIcon"></i><i class="ongoingIcon"></i><i></i><i></i></span>
				<li class="first">
					Thesis Prototype<i class="checkIcon"></i>
				</li>			
				<li>
					Thesis Presentation<i class="ongoingIcon"></i>
				</li>
				<li>
					UI Design<i></i>
				</li>
				<li>
					App Development<i></i>
				</li>
			</ul>
			<ul class="taskList">
				<span><strong>Portfolio 2.0</strong> <i class="checkIcon"></i><i class="checkIcon"></i><i></i></span>
				<li class="first">
					Wireframe<i class="checkIcon"></i>
				</li>			
				<li>
					UI Design<i class="checkIcon"></i>
				</li>
				<li>
					Web Development<i></i>
				</li>
			</ul>
			<ul class="taskList">
				<span><strong>Freelance</strong> <i class="checkIcon"></i><i class="checkIcon"></i><i></i></span>
				<li class="first">
					Meeting with client<i class="checkIcon"></i>
				</li>			
				<li>
					Proposal<i class="checkIcon"></i>
				</li>
				<li>
					Design draft<i></i>
				</li>
			</ul>
		</div>		
		<div class="tabWrapper" id="dataTab">
			<img src="i/data-viz.png" width="100%" alt="">
		</div>
	</div>
</div>
</div>